@import '../../sass/abstracts/variables';

.rating-form {
  margin-left: 24px;
  margin-right: 24px;

  &__heading {
    margin-top: 16px;
    margin-bottom: 16px;
    color: $white;
    font-size: 24px;
    font-weight: 700;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    color: $light-grey;
    line-height: 22px;
  }

  &__grades-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__grade {
    width: 42px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    background: $dark-blue;
    color: $medium-grey;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  &__submit-btn {
    margin-top: 24px;
    width: 100%;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    background-color: $orange;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $orange;
    }
  }
}

.selected {
  background-color: $orange;
  color: $white;
}
